<template>
    <div class="chat-wrap">


        <chat-start v-if="this.$system.showStart"></chat-start>
        <chat-feed v-if="this.$system.showInput"></chat-feed>
        <chat-end v-if="this.$system.showEnd"></chat-end>
        <chat-input v-if="this.$system.showInput"></chat-input>
        <chat-nav></chat-nav>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                system: this.$system
            }
        },
        methods: {
        },
        mounted() {
            console.log('Component mounted.');
        }
    }
</script>
