<template>
    <div class="content chat-feed">

        <ul v-if="$system.messages.length > 0" class="messages">
            <template v-for=" (item, index) in $system.messages">

                <li class="message animated bouncein" v-bind:class="[['message--' + item.type], [item.showTime ? 'message--time': item.showTime] ]" @click="$system.playAudio()" >
                    <template v-if="item.showTime">
                        <span class="message__time">{{ item.hours }}:{{ item.minutes }}</span>
                    </template>
                    {{ item.text }}
                </li>

            </template>
        </ul>
        <p class="text-center" v-else>(We are informing the user, that you are using text to speech...please wait)</p>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                system: this.$system
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
