<template>
    <div class="navigation navigation--links">

        <!-- Home small-->
        <a href="/" class="navigation__item" v-show="$system.showStart">
            <i class="fas fa-home"></i>
        </a>

        <!-- Loudspeaker toggle on -->
        <p class="navigation__item" v-show="!loudSpeaker && $system.showInput" @click="toggleSpeaker">
            <i class="fas fa-microphone"></i>
        </p>

        <!-- Loudspeaker toggle off -->
        <p class="navigation__item navigation__item--red" v-show="loudSpeaker && $system.showInput" @click="toggleSpeaker">
            <i class="fas fa-microphone-slash"></i>
        </p>

        <!-- View archive -->
        <a href="/archive" class="navigation__item" v-show="$system.showEnd">
            <i class="far fa-comments"></i>
        </a>

        <!-- Start chat -->
        <p class="navigation__start animated" v-bind:class="{ 'navigation__start--green pulse': ($system.recipient.length > 0) && ($system.message.text.length > 0) }" v-show="$system.showStart" @click="startCall">
            <i class="fas fa-phone"></i>
        </p>

        <!-- Send message -->
        <p class="navigation__start animated" v-bind:class="{ 'navigation__start--green pulse': $system.message.text.length > 0}" v-show="$system.showInput" @click="sendMessage">
            <i class="fas fa-paper-plane"></i>
        </p>

        <!-- Return home -->
        <a href="/" class="navigation__start" v-show="$system.showEnd">
            <i class="fas fa-home"></i>
        </a>

        <!-- Clear message -->
        <p class="navigation__item" v-bind:class="{ 'navigation__item--red': $system.message.text.length > 0 }" v-show="$system.showStart" @click="clearMessage">
            <i class="fas fa-trash"></i>
        </p>

        <!-- End call -->
        <p class="navigation__item navigation__item--red chat-end" v-show="$system.showInput" @click="endCall">
            <i class="fas fa-phone"></i>
        </p>

        <!-- New call -->
        <a href="/new-chat" class="navigation__item" v-show="$system.showEnd">
            <i class="fas fa-comment-alt"></i>
        </a>
    </div>
</template>

<script>

    import Message from '../Message';

    export default {

        data(){
            return {
                system: this.$system,
                loudSpeaker: false,
                showTime: true,
            }
        },
        methods: {
            startCall() {
                //play intro text
                this.$system.playAudio('_intro-text.mp3');

                this.$system.errors = [];
                if (!this.$system.recipient) {
                    this.$system.errors.push('You need to add a recipient');
                }
                if (!this.$system.message) {
                    this.$system.errors.push('You need to enter a message');
                }
                if (!this.$system.errors.length) {

                    //delay sendMessage to allow time for the intro text to finish
                    setTimeout(() => {
                        console.log('send first message');
                        this.sendMessage();
                    }, 7500);

                    this.$system.toggleStart();
                }
            },
            endCall() {
                this.$system.toggleEnd();
            },
            toggleSpeaker() {
                this.loudSpeaker = !this.loudSpeaker;
            },
            sendMessage() {
                if (this.$system.message.text.length > 0) {

                    this.$system.message.setDates();

                    this.$system.message.type = "sent";
                    this.$system.message.showTime = this.$system.showTime(this.$system.message.date);

                    //this.$system.messages.push(this.$system.message);
                    this.$system.messages.push(this.$system.message);

                    this.$system.easterEggs();

                    //call the method to send the text to the api
                    this.$system.sendTextToApi();
                    //call this.$system.sendTextToApi (promise?)
                    //if the file is returned (json response), call playAudio

                    this.$system.message = new Message();

                    let sentMessages = this.$system.messages.filter( (message) => {
                        return message.type === 'sent';
                    });

                    let response = this.$system.fakeMessages[(sentMessages.length - 1)];

                    this.$system.scrollToLastPost();
                    setTimeout( ()=> {
                        this.$system.messages.push(response);
                        this.$system.scrollToLastPost();
                    },3000);

                }
            },
            clearMessage() {
                this.$system.message = new Message();
            }
        },
        mounted() {
            console.log('Component mounted.');
        }
    }
</script>
