<template>
    <div class="content chat-ended">

        <p class="chat-ended__title">Call ended</p>
        <p class="chat-ended__total">Total messages: {{ $system.messages.length }}</p>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                system: this.$system
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
