<template>
    <div class="content chat-start">

        <h2>Start a new call</h2>

        <div class="form-group">
            <label for="phoneNumber">Phone number</label>
            <input v-model="$system.recipient" id="phoneNumber" type="tel"n placeholder="Enter your number">
        </div>

        <div class="form-group">
            <label for="firstMessage">Enter your first message</label>
            <textarea v-model="$system.message.text" id="firstMessage" cols="30" rows="5" placeholder="Message..."></textarea>
        </div>

    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
