<template>
    <div class="chat-input">

        <textarea v-model="$system.message.text" id="" cols="30" rows="3" placeholder="Message..."></textarea>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                system: this.$system
            }
        },
        mounted() {
        }
    }
</script>
