body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #fff 0%, #f5f5f5 100%);
}
::-webkit-scrollbar {
    display: none;
}
#app {
    //position: absolute;
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 667px;
    background-color: #b0f4ff ;
    overflow: hidden;
}

.start{
    text-align: center;
    padding: 0 25px;
    margin: 0;
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    width: 100%;
    background: linear-gradient(to bottom, #f0ffdc 0%, #b0f4ff 100%);
    height: auto;
    &--home {
        align-items: center;
        justify-content: center;
    }
    &--profile, &--archive {
        padding: 35px 15px 10px;
        overflow-y: scroll;
    }
    &--archive {
        + .navigation {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                display: block;
                bottom: 100%;
                left: -15px;
                right: -15px;
                height: 50px;
                background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(176,244,255,1) 100%);
                pointer-events: none;
            }
        }
        &-detail {
            .archive-item {
                margin-bottom: 35px;
            }
        }
    }
}

.logo {
    max-width: 200px;
    height: auto;
    &-wrap {
        transition: 300ms;
        &--ended {
            opacity: 0;
            transform: scale(0);
        }
    }
}

h2 {
    margin: 0 0 35px;
    font-size: 28px;
    color: #676767;
}