input, textarea, select, button {
    width: 100%;
    padding: 10px 15px;
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
    color: #676767;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    &:focus {
        outline: none;
    }
    &:disabled {
        opacity: 0.5;
    }
}

textarea {
    resize: none;
}

label {
    display: block;
    padding: 0;
    margin: 0 0 10px;
    font-size: 16px;
    color: #676767;
}

.form-group {
    margin: 0 0 35px;
    &:last-of-type {
        margin-bottom: 0;
    }
    button {
        color: #fff;
        background-color: #4eaf4e;
        border-color: #4eaf4e;
    }
}

.chat-wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding: 0;
}

.chat-start {
    padding: 35px 15px 0;
}
.chat-ended {
    align-items: center;
    justify-content: center;
    &__title {
        display: block;
        padding: 10px 15px;
        margin: 0 0 35px;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        color: #fff;
        background-color: #fb4343;
        border-radius: 25px;
    }
    &__total {
        font-size: 16px;
        font-weight: 600;
        color: #676767;
    }
}

.chat-feed {
    justify-content: flex-start;
    padding: 35px 15px 0;
    //overflow-y: scroll;
}

.chat-input {
    position: relative;
    width: 100%;
    padding: 10px 15px 27px;
    background-color: #b0f4ff;
    &:before {
        content: '';
        position: absolute;
        display: block;
        bottom: 100%;
        left: -15px;
        right: -15px;
        height: 50px;
        background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(176,244,255,1) 100%);
        pointer-events: none;
    }
}

.chat-end {
    transform: rotate(225deg);
}

.messages {
    //display: flex;
    //flex-direction: column;
    padding: 0;
    margin: 0;
    height:100%;
    overflow-y: scroll;
}
.message {
    position: relative;
    display: block;
    max-width: 75%;
    padding: 10px 15px;
    margin: 0 0 5px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 25px;
    word-break: break-word;
    cursor: default;
    clear:both;
    &:last-of-type {
        margin-bottom: 50px;
    }
    &--sent {
        //align-self: flex-end;
        float:right;
        color: white;
        background-color: #4b88c7;
        + .message--reply {
            float:left;
            margin-top: 20px;
        }
        .message__time {
            right: 0;
        }
    }
    &--reply {
        align-self: flex-start;
        color: #676767;
        background-color: #fff;
        + .message--sent {
            margin-top: 20px;
        }
        .message__time {
            left: 0;
        }
    }
    &--time {
        margin-top: 20px;
    }
    &__time {
        position: absolute;
        bottom: 100%;
        margin: 0 0 5px;
        font-size: 13px;
        font-weight: 600;
        color: #676767;
    }
    &--end {
        max-width: 100%;
        width: 100%;
        margin: 20px 0 50px;
        font-weight: 600;
        text-align: center;
        color: #fff;
        background-color: #fb4343;
    }
}

.archive {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    &-item {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin: 0 0 20px;
        font-size: 16px;
        line-height: 1.5;
        border-radius: 25px;
        background-color: #fff;
        a {
            display: block;
            padding: 0;
            margin: 0;
            text-decoration: none !important;
        }
        h6 {
            margin: 0 0 10px;
            font-size: 18px;
            font-weight: 600;
            color: #676767;
        }
        p {
            margin: 0;
            font-size: 15px;
            color: #676767;
        }
        &__info {
            position: absolute;
            display: inline-block;
            top: 50%;
            right: 15px;
            width: 50px;
            height: 50px;
            margin: 0;
            background: #f5f5f5;
            color: #676767;
            border-radius: 50%;
            transform: translateY(-50%);
            .svg-inline--fa {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}


//Easter eggs
.skin-pikachu {
    .content {
        background: initial;
        background-image: url('/eggs/pikachu-wallpaper.jpg');
        background-size: cover;
        background-position: center;
    }

    .chat-input {
        &:before {
            background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, #f98420 100%);
        }

        background-color: #f98420;
    }
}

//.message--reply {
//    display: none;
//}