.navigation {
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    padding: 10px 15px;
    background-color: #fff;
    z-index: 99;
    transition: all 300ms ease-out 1000ms;
    &--loading {
        transform: translateY(125%) scale(0.5);
        opacity: 0;
    }
    &--links {
        align-items: center;
        justify-content: space-around;
    }
    &__item {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 0;
        background: #f5f5f5;
        color: #676767;
        border-radius: 50%;
        transition: all 200ms;
        cursor: pointer;
        .svg-inline--fa {
            width: 22px;
            height: auto;
        }
        &--green {
            color: #fff;
            background-color: #4eaf4e;
        }
        &--red {
            color: #fff;
            background-color: #fb4343;
        }
    }
    &__start {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 100px;
        margin: 0;
        background: #f5f5f5;
        color: #2b2b2b;
        border-radius: 50%;
        transition: all 200ms;
        cursor: pointer;
        &--green {
            color: #fff;
            background-color: #4eaf4e;
        }
        .svg-inline--fa {
            width: 50px;
            height: auto;
        }
    }
    .svg-inline--fa {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    a {
        &:hover, &:focus {
            color: inherit;
        }
    }
}